<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Django Template</title>
</head>
<body>
  <h1>나는 낮잠을 원한다 🥱💤</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlv-K0W_iIBXHHDrftiNo2DT7TVnqwUt_CDCUBiX7r0L-HvfkETHb-ExI&s=10">
  <li><a href="{% url 'app:index' %}">자러가기🛌</a></li>
  <li><a href="{% url 'app:01_variables_filters' %}">01_variables_filters</a>
  <li><a href="{% url 'app:02_tags' %}">02_tags</a>
  <li><a href="{% url 'app:03_child' %}">03_layout</a>
  <li><a href="{% url 'app:04_staticfiles' %}">04_staticfiles</a>
  <li><a href="{% url 'app:05_urls' %}">05_urls</a>
  <li><a href="{% url 'app:06_bootstrap' %}">06_bootstrap</a>
</body>
</html>